.app-button {
  background-color: var(--secondary-color);
  color: var(--text-color-secondary);
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  padding: 10px 15px;
  outline: transparent;
  cursor: pointer;

  &:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: color, background-color .1s;
  }
}

@media (max-width: 620px) {
  .app-button {
    padding: 4px 12px;
  }
}
