.back-button {
	position: absolute;
	top: 48px;
	left: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 38px;
	width: 180px;
	height: 60px;
	border: 1px solid #c9c9c9;
	background-color: #f6f6f6;
	color: #000;
	font-size: 20px;
	line-height: 1.2;
	border-radius: 300px;
	padding: 6px;
	cursor: pointer;

	&__circle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: #000;
	}

	&:hover {
		color: #ffff;
		border-color: #000;
		background-color: #000;
		transition: color 0.3s ease, border-color 0.3s ease,
		background-color 0.3s ease;

		.back-button__circle {
			background-color: #fff;
			transition: background-color 0.3s ease;

			path {
				stroke: #000;
				transition: stroke 0.3s ease;
			}
		}
	}
}

@media (max-width: 1000px) {
	.back-button {
		left: 40px;
		top: 28px;
		width: 150px;
		height: 50px;
		column-gap: 20px;
		font-size: 18px;

		&__circle {
			width: 38px;
			height: 38px;
		}
	}
}

@media (max-width: 850px) {
	.back-button {
		left: 20px;
		top: 18px;
		width: 120px;
		height: 40px;
		column-gap: 15px;

		&__circle {
			width: 28px;
			height: 28px;
		}
	}
}

@media (max-width: 620px) {
	.back-button {
		left: 0;
		top: -40px;
		width: 90px;
		height: 30px;
		column-gap: 7px;
    padding: 5px;
    font-size: 16px;

		&__circle {
			width: 22px;
			height: 22px;
		}
	}
}
