.back-button {
  position: absolute;
  top: 48px;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 38px;
  width: 180px;
  height: 60px;
  border: 1px solid #C9C9C9;
  background-color: #F6F6F6;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 300px;
  padding: 6px;
  cursor: pointer;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #000;
  }

  &:hover {
    color: #ffff;
    border-color: #000;
    background-color: #000;
    transition: color .3s ease, border-color .3s ease, background-color .3s ease;

    .back-button__circle {
      background-color: #fff;
      transition: background-color .3s ease;

      path {
        stroke: #000;
        transition: stroke .3s ease;
      }
    }
  }
}
