.book-demo {
  margin-top: 100px;
  line-height: 1.2;

  &__wrapper {
    max-width: 1280px;
    height: 470px;
    margin: 0 auto;
    border-radius: 32px;
    background-image: url(/images/background-bookDemo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 104px 77px;
  }

  &__content {
    max-width: 725px;
  }

  &__title {
    font-size: 56px;
    color: var(--text-color-secondary);
    margin-bottom: 53px;
  }

  &__btn {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 26px;
    padding: 16px 55px;

    &:hover {
      background-color: var(--background-color-secondary);
      color: var(--text-color-secondary);
      border-color: var(--text-color-secondary);
    }
  }
}

@media (max-width: 930px) {
  .book-demo {
    &__wrapper {
      padding: 90px 45px;
    }
  }
}

@media (max-width: 865px) {
  .book-demo {
    &__wrapper {
      height: 390px;
      padding: 60px 45px;
    }

    &__title {
      font-size: 48px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .book-demo {
    &__wrapper {
      padding: 48px 16px;
    }

    &__title {
      text-align: center;
      font-size: 36px;
      margin-bottom: 85px;
      width: 100%;
    }

    &__btn {
      width: 100%;
      font-size: 24px;
    }
  }
}

@media (max-width: 430px) {
  .book-demo {
    &__title {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 362px) {
  .book-demo {
    &__title {
      font-size: 32px;
      margin-bottom: 40px;
    }

    &__btn {
      font-size: 18px;
    }
  }
}
