.creation-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-top: 64px;
}

@media (max-width: 620px) {
	.creation-items {
		margin-top: 40px;
		gap: 30px;
	}
}

@media (max-width: 560px) {
	.creation-items {
		grid-template-columns: 1fr;
	}
}
