.creation {
  line-height: 1.2;

  &__title-black,
  &__title-grey {
    font-size: 50px;
  }

  &__title-grey {
    opacity: 59%;
  }
}

@media (max-width: 865px) {
  .creation {
    &__title-black,
    &__title-grey {
      font-size: 36px;
    }
  }
}

@media (max-width: 620px) {
  .creation {
    &__title-black,
    &__title-grey {
      font-size: 28px;
    }
  }
}

@media (max-width: 560px) {
  .creation {
    &__title-black,
    &__title-grey {
      text-align: center;
    }
  }
}

@media (max-width: 505px) {
  .creation {
    &__title-black,
    &__title-grey {
      font-size: 20px;
    }
  }
}

@media (max-width: 345px) {
  .creation {
    &__title-black,
    &__title-grey {
      font-size: 18px;
    }
  }
}
