.design-items {
  max-width: 578px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 22px;
}

@media (max-width: 630px) {
	.design-items {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}
}
