.design-item {
	padding: 14px;
	width: 175px;
	height: 172px;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;

	&__name {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.2;
	}
}

@media (max-width: 390px) {
	.design-item {
		width: 140px;
		height: 140px;

		&__name {
			font-size: 12px;
		}
	}
}
