.faqs-item {
  border-radius: 12px;
  border: 1px solid #e2e3e6;
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  &__question-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    font-weight: 400;
    line-height: 1.5;
  }

  &__answer.open {
    max-height: 200px;
    animation: fade .5s ease-in-out;
  }

  &__answer p {
    padding-top: 15px;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &__icon-plus,
  &__icon-minus {
    position: absolute;
    transition: opacity .5s;
  }

  &__icon-plus {
    opacity: 1;
  }

  &__icon-minus {
    opacity: 0;
  }

  &.active &__icon-plus {
    opacity: 0;
  }

  &.active &__icon-minus {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 700px) {
  .faqs-item {
    font-size: 16px;
    padding: 16px;
  }
}
