.footer {
	height: 117px;
	background-color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: space-around;

	&__wrapper {
		width: 1440px;
		padding: 0 27px;
		display: flex;
		justify-content: space-between;
	}

	&__navigation {
		display: flex;
	}

	&__list {
		font-size: 16px;
		color: var(--text-color-secondary);
		opacity: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		grid-gap: 36px;
		margin-left: 83px;
	}

	&__social {
		display: flex;
	}

	&__social-item {
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
