.gallery {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;

    .upper-box {
        display: flex;
        width: 200%;
    }

    .upper-box:hover div {
        animation-play-state: paused;
    }

    .lower-box {
        display: flex;
        width: 293%;
    }

    .lower-box:hover div {
        animation-play-state: paused;
    }

    .wrapper {
        column-gap: 16px;
        margin-bottom: 16px;
        justify-content: center;
        margin-right: 16px;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            width: 512px;
            height: 384px;

            img {
                display: block;
                object-fit: fill;
            }
        }
    }
}

.upper-row {
    display: flex;
    overflow: hidden;
    animation: horizontal-scroll-left 10s linear infinite;
    width: 100%;
}

.lower-row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation: horizontal-scroll-right 20s linear infinite;
    width: 100%;
}

@keyframes horizontal-scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}

@keyframes horizontal-scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}