@import './colors.scss';

.header {
  position: fixed;
  top: 24px;
  right: 50%;
  transform: translateX(50%);
  max-width: 842px;
  width: 100%;
  padding: 10px 24px;
  background-color: var(--primary-color);
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #E0E0E0;
  z-index: 1000;
  opacity: 1;
  transition: top .1s;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 50px;
  }
}

.header-fixed {
  top: 0;
  opacity: .8;
}
