.hero {
  padding: 140px 0 80px 0;

  &__title {
    text-align: center;
    line-height: 1.2;
    max-width: 760px;
    width: 100%;  
    margin-bottom: 25px;
    font-size: 64px;
    margin: 0 auto 25px;
  }

  &__sub-title {
    text-align: center;
    display: block;
    font-weight: 300;
    margin-bottom: 80px;
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .hero {
    padding: 100px 0 40px 0;

    &__title {
      font-size: 40px;
      margin: 0 auto 15px;
    }
  
    &__sub-title {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    &__title {
      font-size: 30px;
    }
  
    &__sub-title {
      font-size: 14px;
    }
  }
}
