.pricing-card {
	&__tariff-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 410px;
		height: 270px;
		padding: 20px;
		border-radius: 16px;
		margin-bottom: 42px;
		border: 1px solid;

		.tariff-card {
			&__title {
				font-size: 36px;
				margin-bottom: 8px;
			}

			&__description {
				font-size: 15px;
				opacity: 50%;
			}

			&__box-bottom {
				display: flex;
				justify-content: space-between;

				button {
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover path {
						fill: #000;
					}
				}
			}

			&__cost {
				font-size: 40px;
			}
		}
	}

	.tariff-services__list {
		display: flex;
		flex-direction: column;
		row-gap: 13px;

		svg {
			margin-right: 10px;
		}
	}
}
