.pricing {
	color: var(--text-color);
	line-height: 1.2;
	margin-top: 60px;

	&__title {
		font-size: 48px;
		width: 468px;
		margin-bottom: 64px;
	}
}

@media (max-width: 1330px) {
	.pricing {
		&__title {
			text-align: center;
			margin: 0 auto;
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 1000px) {
	.pricing {
		&__title {
			font-size: 35px;
		}
	}
}

@media (max-width: 600px) {
	.pricing {
		&__title {
			font-size: 36px;
			width: 291px;
		}
	}
}
