.project {
  margin-top: 148px;

  &__top-wrapper {
    max-width: 1000px;
    padding: 0 20px 167px;
  }

  &__top {
    max-width: 630px;
    line-height: 1.2;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 18px;
    color: #202020;
  }

  &__wrapper {
    height: 778px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__picture {
    max-width: 1040px;
    width: 100%;
    height: 615px;
  }
}

@media (max-width: 1150px) {
  .project {
    &__wrapper {
      height: 678px;
    }

    &__picture {
      max-width: 740px;
      width: 100%;
      height: 515px;
    }
  }
}

@media (max-width: 850px) {
  .project {
    &__top-wrapper {
      padding-bottom: 80px;
    }

    &__wrapper {
      height: 478px;
    }

    &__picture {
      max-width: 540px;
      width: 100%;
      height: 315px;
    }
  }
}

@media (max-width: 600px) {
  .project {
    margin-top: 70px;

    &__top {
      max-width: 430px
    }

    &__title {
      font-size: 36px;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__wrapper {
      height: 420px;
    }
  }
}
