.project {
	display: block;
	margin: 100px 0 120px;

	&__pictures-wrapper {
		position: relative;
		max-width: 1440px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 0 24px;
		margin: 0 auto;
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		padding: 75px;
	}

	&__content-box {
		max-width: 630px;
		line-height: 1.2;
	}

	&__content-title {
		font-size: 48px;
		font-weight: 500;
		margin-bottom: 40px;
	}

	&__content-subtitle {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		color: #202020;
	}

	&__picture-box {
		max-width: 1440px;
		width: 100%;

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
			border-radius: 60px;
		}
	}

	&__two-squares {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
}

@media (max-width: 1000px) {
	.project {
		margin: 100px 0 85px;
	}
}

@media (max-width: 865px) {
	.project {
		margin-bottom: 55px;

		&__pictures-wrapper {
			padding: 0;
		}

		&__content {
			text-align: center;
			padding: 40px 75px 30px;
		}

		&__content-title {
			font-size: 36px;
		}

		&__content-subtitle {
			font-size: 16px;
		}

    &__picture-box {
			img {
				border-radius: 40px;
			}
		}
	}
}

@media (max-width: 620px) {
	.project {
		margin-bottom: 35px;

		&__pictures-wrapper {
			padding: 0;
		}

		&__content {
			text-align: left;
			padding: 20px 0 0;
		}

		&__content-title {
			font-size: 28px;
			margin-bottom: 20px;
		}
    &__picture-box {
			img {
				border-radius: 20px;
			}
		}
	}
}
