.project {
  margin-top: 148px;

  &__top-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 167px;
  }

  &__top {
    max-width: 630px;
    line-height: 1.5;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 18px;
    color: #202020;
  }

  &__wrapper {
    padding: 80px 176px;
  }
}
