.two-blocks {
	margin-top: 20px;

	&__wrapper {
		padding: 65px 0 117px 73px;
		display: flex;
    justify-content: center;
		column-gap: 100px;
		overflow: hidden;
	}

	&__picture {
			max-width: 722px;
			width: 100%;
      
		&--left {
			height: 1434px;
			margin-top: 128px;
		}

		&--right {
			height: 939px;
			margin-right: -50px;
		}
	}
}
