.two-squares {
	max-width: 1392px;
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin: 50px auto;

	&__wrapper {
		width: unset;
		margin: 0;
		padding: 85px 75px 30px 75px;
	}

	&__picture--right {
		img {
			border-radius: 60px;
		}
	}
}
